@import '../../../Styles/variables';


.navegation-container {
    width: 100%;
    height: 5em;
    background-color: $primaryColor;
    box-sizing: border-box;
    border-bottom: 1px solid #F5F2F2;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    display: flex;

    .navegation-container-section {
        width: 100%;
        display: flex;
        max-width: 1240px;
        margin: 0 auto;
        justify-content: flex-start;
        padding: 1em;

        &__menu-resposive {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 10%;
            padding: 0;
            margin: 0;
            display: none;

            div {
                width: 20px;
                height: 1px;
                margin: 0.2em;
                background-color: white;
            }
        }

        &__logo {
            display: flex;
            align-items: center;
            width: 20%;
            margin-left: 0.3em;

            a {
                color: #C8C7C7;
                text-decoration: none;
                font-family: 'Work Sans', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.025em;
            }

            span {
                font-family: 'Work Sans', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #FFFEFE;
                ;
            }
        }

        &__navegation {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            cursor: pointer;
            ul {
                display: flex;
                color: white;
                align-items: center;
                justify-content: flex-start;

                li {
                    display: flex;
                    padding: 0.5em;

                    span {
                        font-family: 'Work Sans', sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: right;
                        letter-spacing: 0.025em;
                        color: #FFFFFF;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            color: #C8C7C7;
                        }
                    }
                }
            }
        }
        &__social {
            display: flex;
            width: 10%;
            justify-content: flex-end;
            align-items: center;
           ul {
            display: flex;
            color: white;

            li {
                padding: 0.3em;
                list-style: none;
                a {
                    text-decoration: none;
                    color: white;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        color: #C8C7C7;
                    }
                }
            }
           }
        }
    }



}