@import '../../../Styles/variables';

@media screen and (max-width: 860px) {
    
    .navegation-container-section{
        &__logo {
            width: 80% !important;
            justify-content: center;
        }
        &__menu-resposive {
            display: flex !important;
        }

        &__navegation {
            top: 78px;
            left: 0;
            position: absolute;
            z-index: 10000000 !important;
            background-color: $primaryColor;
            transform: translateY(-600px);
            width: 100% !important;
 
            ul {
                width: 100%;
                flex-direction: column;
                margin-bottom: 1em;
                span {
                    display: flex;
                    width: 100%;
                }
                li {
                    width: 100%;
                    background-color: $primaryColor;
                    &:hover {
                        span {
                            color: black !important;
                        }
                        background-color: $secondaryHover;
                    }
                }
            }
        }
        &__social {
            width: 15% !important;
            ul {
                margin-right: 0.3em;
            }
        }
    }

    .hidden-menu {
        transition: .3s all ease-in-out;
        transform: translateY(0px);
        opacity: 1;
    }

    .toggle .line1 {
        transition: all 0.3s ease;
        transform:  rotate(-45deg) translate(-5px , 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transition: all 0.3s ease;
        transform:  rotate(45deg) translate(-5px , -6px);
    }
}